<footer class="footer">
        <div class="v-middle">
            <p>&copy; 2019 Trisha Saini<p>
        </div>
        <ul style="list-style-type: none; float:right;">
            <li>Contact</li>
            <li>Services</li>
            <li>About</li>
            <li>Home</li>

        </ul>
    </footer>

    <!-- Main -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>