.main-class {
}

.main-class.theme-class1 {
    
}

.main-class.theme-class2 {
    
}

.main-class .child {
    
}

img {
   padding-bottom:20px;
}

.child{
width:500px;
height:500px;
background-color: gray;
}
.navbar {
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.nav-option{
    float: left;
}

.nav-option a{
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
      
}

.nav-option a:hover {
    background-color: #111111;
  }

  #search-bar{
      float:right;
      padding-bottom:20px;
  }
  aside{
      float:left;
  }